# Enable Rewrite Engine
RewriteEngine On

# Serve index.html for all routes except existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L]
